{% extends "base.html" %}
{% block container %}
{% load static %}

      {% comment %}{% include 'partials/passo_a_passo.html' %}{% endcomment %}
<form method="POST" class="mt-5" id="MyForm">
    <main role="main" class="d-flex flex-row justify-content-center mt-5">
        <div class="p-2 bd-highlight">
<h1 class="d-flex justify-content-center">Project -  "{{projeto.nome}}"</h1>
<hr>
<h2>Evaluation of Alternatives in the light of qualitative criteria</h2>

<br>
         {% csrf_token %}
        <table class="d-flex justify-content-center">
            <tbody>
                {% for form in forms %}
                <tr>
                   <td class="ml-8"></td>
                   <td class="ml-8"></td>
                   <td class="ml-8"></td>
                   <td class="ml-8"></td>
                   <td class="ml-8 d-flex justify-content-center">Value</td>
                </tr>
                <tr>
                   <td class="ml-8">{{ form.projeto }}</td>
                   <td class="ml-8">{{ form.decisor }}</td>
                   <td class="ml-8">{{ form.criterio }}</td>
                   <td class="ml-8">{{ form.alternativaA }}</td>
                    <td>
                        <p class="descricao_nota" id="paragrafo_{{ form.nota.auto_id }}">is equivalent as</p>
                    </td>
                   <td class="ml-8">{{ form.alternativaB }}</td>
                </tr>
                <tr>
                        <td class="ml-8"></td>
                        <td class="ml-8"></td>
                        <td class="ml-8"></td>
                        <td class="ml-8"></td>
                   <td class="ml-8">{{ form.nota }}</td>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </main>
        {{ forms.management_form }}

    <div class="d-flex justify-content-center">

        <input type="submit" class="btn btn-outline-primary" value="Continue">
    </div>
    </form>

{% endblock %}
{% block custom_js %}
    
    <script src="{% static 'js/input_select.js' %}"></script>
{% endblock %}
