{% extends "base.html" %}
{% block container %}


<h1>Projeto {{projeto.nome}}</h1>
<hr>
<h1>Avaliação de critérios</h1>

<div class="d-flex justify-content-center">
    <form method="POST">
         {% csrf_token %}
        <table>
            <tbody>
                {% for form in forms %}
                <tr>
                   <td class="ml-8"></td>
                   <td class="ml-8"></td>
                   <td class="ml-8"></td>
                   <td class="ml-8">Valor</td>
                   <td class="ml-8"></td>
                </tr>
                <tr>
                   <td class="ml-8">{{ form.projeto }}</td>
                   <td class="ml-8">{{ form.decisor }}</td>
                   <td class="ml-8">{{ form.criterioB }}</td>
                    <td>
                        <p class="descricao_nota" id="paragrafo_{{ form.nota.auto_id }}"></p>
                    </td>
                   <td class="ml-8">{{ form.criterioA }}</td>
                </tr>
                <tr>
                        <td class="ml-8"></td>
                        <td class="ml-8"></td>
                        <td class="ml-8"></td>
                   <td class="ml-8">{{ form.nota }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ forms.management_form }}

        <input type="submit" class="btn btn-outline-primary" value="Salvar valores">
    </form>
</div>

{% endblock %}
