<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ELECTRE-MOr</title>
    <link rel="icon" href="/static/favicon.svg" type="image/svg+xml" />
    <link rel="stylesheet" href="/static/frontend/assets/index.css" />
  </head>
  <body>
    <noscript>Start your project! Ative o JavaScript para usar a interface.</noscript>
    <div id="root"></div>
    <script type="module" src="/static/frontend/assets/index.js"></script>
  </body>
</html>
