{% extends "base.html" %}
{% block container %}

<h1>ELECTRE-MOr - Método</h1>
<p class="tagline">A multicriteria ordinal classification method.</p>


<p>
    O método ELECTRE-MOr combina avaliação multicritério ordinal com procedimentos de classificação
    inspirados na família ELECTRE, utilizando pesos dos critérios, parâmetros de preferência,
    indiferença e veto, e um nível de corte de credibilidade (λ).
</p>
<p>
    O método consiste, basicamente, em três processos:
    <br><br>
    Primeiramente, a transformação da preferência entre critérios, expressada por um vetor representando os pesos dos critérios.
    <br>
    O segundo processo é a avaliação das alternativas, por notas numéricas ou por preferências ordinais dentro de cada critério.
    <br>
    O terceiro processo aplica os parâmetros de cada critério para calcular relações de concordância,
    discordância e credibilidade, classificando as alternativas em classes ordinais.
    <br><br>
    As informações de preferência podem ser denotadas por comparações pareadas entre critérios
    ou alternativas. A relação é expressa em uma escala de sete pontos, conforme modelo da tabela.
</p>

<hr>


<br>
<h6>Tabela 1:</h6>
<table class="table table-striped" style="width: 70%; margin:0 auto">
    <thead>
        <tr>
        <th scope="col">Expressão Linguística</th>
        <th scope="col">Pontuação</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>Absolutamente Pior / Absolutamente Menos Importante</td>
            <td>-3</td>
        </tr>
        <tr>
            <td>Muito Pior / muito Menos Importante</td>
            <td>-2</td>
        </tr>
        <tr>
            <td>Pior / Menos Importante</td>
            <td>-1</td>
        </tr>
        <tr>
            <td>Igual ou Equivalente / tão importante quanto</td>
            <td>0</td>
        </tr>
        <tr>
            <td>Melhor / Mais Importante</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Muito Melhor / muito Mais Importante</td>
            <td>2</td>
        </tr>
        <tr>
            <td>Absolutamente Melhor / absolutamente Mais Importante</td>
            <td>3</td>
        </tr>

    </tbody>
</table>


{% endblock %}
