{% extends "base.html" %}
{% load static %}
{% block container %}


<h1 class="d-flex justify-content-center">
    Partial result of Project - "{{projeto.nome}}"
</h1>

<hr>


{% if pesos %}
<h1 class="d-flex justify-content-center">Weights of the criteria</h1>
<div class="m-0 p-0 row justify-content-center">
{% autoescape off %}
{{ pesos }}
{% endautoescape %}
{% endif %}
</div>
<hr>

{% if pontuacao_alternativas %}
<h1 class="d-flex justify-content-center">Performance matrix</h1>
<div class="m-0 p-0 row justify-content-center">
{% autoescape off %}
{{ pontuacao_alternativas }}
{% endautoescape %}
</div>
</div>
{% endif %}
<hr>


<div class="d-flex justify-content-center">
    <form id="MyForm" method="post">
         {% csrf_token %}
        <h1 class="d-flex justify-content-center">Project's parameters</h1>
        <h3>Set Weak preference (q), strict preference (p) and veto (v) thresholds</h3>
        <table>
            <tbody>
                {% for form in formsQuali %}
                <tr>
                  
                   <td class="ml-8"></td>
                   <td class="ml-8">Criterion</td>
                   <td class="ml-8">q</td>
                   <td class="ml-8">p</td>
                   <td class="ml-8">v</td>
                </tr>
                <tr>
                   <td class="ml-8">{{ form.projeto }}</td>
                   <td class="ml-8">{{ form.criterio }}</td>
                   <td class="ml-8">{{ form.q }}</td>
                   <td class="ml-8">{{ form.p }}</td>
                   <td class="ml-8">{{ form.v }}</td>
                </tr>
                {% endfor %}
        {{ formsQuali.management_form }}
        </table>
<div class="d-flex justify-content-center">
        <input type="submit" class="btn btn-outline-primary" value="Continue">
</div>
    </form>
</div>
<br>

{% endblock %}
{% block custom_js %}
    
    <script src="{% static 'js/input_select.js' %}"></script>
{% endblock %}
