SQL_ENGINE=django.db.backends.postgresql
SQL_HOST=db_electre
SQL_PORT=5432

POSTGRES_USER=electremor
POSTGRES_PASSWORD=change_me
POSTGRES_DB=electremor

DEBUG=1
SECRET_KEY=change_me
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,coolify.drg.ink,electremor.drg.ink,electremor-dev.drg.ink
TRAEFIK_HOST=electremor.drg.ink
TRAEFIK_ROUTER=electremor
TRAEFIK_SERVICE=electremor
