{% extends "base.html" %}
{% block conteudo %}
{% load static %}
<form action="{% url 'salva_criterios_alternativas' %}" class="mt-5" method="post">
  {% csrf_token %}
  <main role="main" class="d-flex flex-row justify-content-center mt-5">
    <div class="p-2 bd-highlight">
      <h1>Critérios</h1>
      <table id="criterio_form_set">
        {% comment %}{{ criterio_form_set.as_table }}{% endcomment %}
        <tbody>
          {% for form in criterio_form_set.forms %}
          <tr>
            <td class="ml-8">{{ form.nome.label }}</td>
            <td class="ml-8">{{ form.nome }}</td>
            <td class="ml-8">{{ form.monotonico.label }}</td>
            <td class="ml-8">{{ form.monotonico }}</td>
          </tr>
          {% endfor %}
        </tbody>
        {{ criterio_form_set.management_form }}
      </table>
    </div>


    <div class="p-2 bd-highlight">
      <h1>Alternativas</h1>
      <table id="alternativa_form_set">
        <tbody>
          {% for form in alternativa_form_set.forms %}
          <tr>
            <td class="ml-8">{{ form.nome.label }}</td>
            <td class="ml-8">{{ form.nome }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {{ alternativa_form_set.management_form }}
    </div>
    </div>
  </main>
  <div class="d-flex justify-content-center">
    <input type="submit" class="p-3 mb-5 btn btn-outline-primary" value="Avaliar Projeto">
  </div>
</form>

{% endblock %}

{% block custom_js %}
<script src="{% static "js/obriga_campos.js" %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
         src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
         integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
         crossorigin="anonymous"
         ></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous">
</script>

<!-- Jeditable -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jeditable.js/2.0.6/jquery.jeditable.min.js"></script>
<script src="http://code.jquery.com/jquery-1.3.2.min.js"></script>
<script src="{% static "js/jquery.formset.js" %}"></script>
<script type="text/javascript">
  $(function() {
      $('#criterio_form_set tbody tr').formset({
          prefix: '{{ criterio_form_set.prefix }}',
          formCssClass: 'dynamic-formset2'
        });
    });
    $(function() {
        $('#alternativa_form_set tbody tr').formset({
            prefix: '{{ alternativa_form_set.prefix }}',
            formCssClass: 'dynamic-formset3'
          });
      });
</script>
{% endblock %}
