    {% load static %}
    <section class="page-section bg-light m-0" id="team">
      <div class="container">
        <div class="text-center">
          <h2 class="section-heading text-uppercase">Our Team</h2>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{% static "assets/img/team/2.jpg" %}" alt="" />
                  <h4>Marcos Alexandre P. de Castro Jr</h4>
              <p class="text-muted">Developer</p>
              <a class="btn btn-dark btn-social mx-2" href="https://github.com/im-alexandre"><i class="fab fa-github"></i></a>
              <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/alexandre-castro-45593415a/"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{% static "assets/img/team/3.jpg" %}" alt="" />
              <h4>Prof. Dr. Marcos dos Santos</h4>
              <p class="text-muted">Advisor</p>
              <a href="http://lattes.cnpq.br/5534398558592175"><img class="lattes" src="{% static "assets/img/logos/Lattes-1-100x100.png" %}"></img></a>
              <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/prof-dr-marcos-santos-67035b1b4/"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{% static "assets/img/team/4.jpg" %}" alt="" />
              <h4>Prof. Dr. Carlos F. Simões Gomes</h4>
              <p class="text-muted">Advisor</p>
              <a href="http://lattes.cnpq.br/7509084995553647"><img class="lattes" src="{% static "assets/img/logos/Lattes-1-100x100.png" %}"></img></a>
              <a class="btn btn-dark btn-social mx-2" href="linkedin.com/in/carlos-francisco-simões-gomes-7284a3b"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{% static "assets/img/team/1.jpg" %}" alt="" />
              <h4>Igor Pinheiro A. Costa</h4>
              <p class="text-muted">Business Analyst</p>
              <a href="http://lattes.cnpq.br/1111738924532988"><img class="lattes" src="{% static "assets/img/logos/Lattes-1-100x100.png" %}"></img></a>
              <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/igor-pinheiro-b62a371ab"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
        <div class="row justify-content-center m-0">
          <p class="citacao m-0"><b>To cite this software:</b> 
          Costa, I. P. de A., Castro Junior, M. A. P. de, Santos, M. dos, & Gomes, C. F. S. (2021). ELECTRE-MOr Software (v.1). Availabre from: http://electremor.com/</p>
          <p class="citacao m-0">"All rights reserved. The non-commercial (academic) use of this software is free of charge. The only thing that is asked in return is to cite this software when results are used in publications."</p>
        </div>
      </div>
    </section>
