<footer class="sapevoweb-footer">
  <figure class="figure">
    <img id="casnav" 
         src="https://www.dropbox.com/s/m82q1u9amw4pwxa/Heraldica%20casnav%20-%20mais%20a%20esquerda.png?raw=1" 
         class="figure-img img-fluid rounded icones-sapevo" alt="A generic square placeholder image with rounded corners in a figure.">
    <figcaption class="figure-caption">CASNAV</figcaption>
  </figure>

  <figure class="figure">
    <img id="ime" src="https://www.dropbox.com/s/9dt691fbn5e2vbd/brasao%20IME%20-%20centro.jpeg?raw=1" 
                  class="figure-img img-fluid rounded icones-sapevo"  alt="A generic square placeholder image with rounded corners in a figure.">
    <figcaption class="figure-caption">IME</figcaption>
  </figure>

  <figure class="figure">
    <img id="uff" src="https://www.dropbox.com/s/wl42p0apmawrql0/UFF_bras%C3%A3o%20-%20mais%20a%20direita.png?raw=1" 
                  class="figure-img img-fluid rounded icones-sapevo" alt="A generic square placeholder image with rounded corners in a figure.">
    <figcaption class="figure-caption">UFF</figcaption>
  </figure>
  <p>
    "All rights reserved. The non-commercial (academic) use of this software is free of charge. 
    <br>
    The only thing that is asked in return is to cite this software when results are used in publications." 

  </p>
  <p>
To cite this software: COSTA, Igor Pinheiro de Araújo; CASTRO JUNIOR, Marcos Alexandre Pinto de; MENEZES, Jardel Gomes Cunha de Albuquerque; SANTOS, Marcos dos; GOMES, Carlos Francisco Simões.
<br>
ELECTRE-MOr Software (v.1). 
<br>
Desenvolvido no Instituto Militar de Engenharia (IME), no Centro de Análises de Sistemas Navais (CASNAV) e na Universidade Federal Fluminense (UFF).
<br>
<a href="https://electre-mor.herokuapp.com/">https://electre-mor.herokuapp.com</a>
<br>
<br>

<b>Igor Pinheiro de Araújo Costa </b>
<br>
<a href="costa_igor@id.uff.br">costa_igor@id.uff.br</a>
<br>
<b>Marcos Alexandre Pinto de Castro Junior</b>
<br>
<a href="im.alexandre07@gmail.com">im.alexandre07@gmail.com</a>
<br>
<b>Jardel Gomes Cunha de Albuquerque Menezes</b>
<br>
<a href="jardelgcunha.ti@gmail.com">jardelgcunha.ti@gmail.com</a>
<br>
<b>Marcos dos Santos</b>
<br>
<a href="marcosdossantos_doutorado_uff@yahoo.com">marcosdossantos_doutorado_uff@yahoo.com</a>
<br>
<b>Carlos Francisco Simões gomes</b>
<br>
<a href="cfsg1@bol.com.br">cfsg1@bol.com.br</a>
<br>
- 2020 -
<br>
  </p>
</footer>
