{% extends "base.html" %}
{% block conteudo %}
{% load static %}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container" id="shade">
                <div class="masthead-heading text-uppercase p-3">PROA 2.0</div>
                <div class="masthead-subheading">Borda, Condorcet and Copeland</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger m-3" href="{% url 'projeto_form' %}">Start your project!</a>
            </div>
        </header>
{% endblock %}
